<div class="profile_skills">
    <div class="skills">
        <p>Skills</p>
        <ul>
            <li>
                <span class="icon"><i class="fab fa-html5"></i></span>
                <span class="title">HTML5</span>
            </li>
            <li>
                <span class="icon"><i class="fab fa-css3-alt"></i></span>
                <span class="title">CSS5</span>
            </li>
            <li>
                <span class="icon"><i class="fab fa-js-square"></i></span>
                <span class="title">JS</span>
            </li>
        </ul>
    </div>
    <div class="tags_wrap">
        <span class="tag">Web Development</span>
        <span class="tag">Web Design</span>
        <span class="tag">UI/UX</span>
        <span class="tag">Backend Development</span>
    </div>
</div>