<div class="container_user_password">
    <div class="w_100">
        <nz-steps [nzCurrent]="current">
            <nz-step nzTitle="Observación" nzIcon="alert"></nz-step>
            <nz-step nzTitle="Finalizar" nzIcon="solution"></nz-step>
        </nz-steps>

        <div class="steps-content">

            <div *ngIf="index==='First-content'">
                <p class="m_b_0">
                    Usted va a ingresar su nueva contraseña al terminar el proceso de actualizaión de contraseña sera redirigido al login.
                </p>

            </div>
            <div *ngIf="index==='Second-content'" class="container_form">
                <form nz-form [formGroup]="validateForm" class="login-form">
                    <nz-form-item class="d_center">
                        <!-- <nz-form-label [nzSpan]="7" nzRequired>Nueva contraseña</nz-form-label> -->
                        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixPassword">
                                <input [type]="passwordVisible ? 'text' : 'password'" nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" placeholder="Nueva contraseña" />
                            </nz-input-group>
                            <ng-template #passwordErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('minlength')">
                                    Minimo 6 caracteres!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('required')">
                                    Ingrese la contraseña!
                                </ng-container>
                            </ng-template>
                            <ng-template #suffixPassword>
                                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="d_center">
                        <!-- <nz-form-label [nzSpan]="7" nzRequired>Confime contraseña</nz-form-label> -->
                        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordConfirmErrorTpl">
                            <nz-input-group nzPrefixIcon="lock">
                                <input nz-input type="password" formControlName="confirm" placeholder="Confirme contraseña" />
                            </nz-input-group>
                            <ng-template #passwordConfirmErrorTpl let-control>
                                <!-- lo borre pero si funciona solo que choca con el inconsistente -->
                                <!-- <ng-container *ngIf="control.hasError('minlength')">
                                        Minimo 6 caracteres!
                                    </ng-container> -->
                                <ng-container *ngIf="control.hasError('required')">
                                    Ingrese la contraseña!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('confirm')">
                                    La contraseña en inconsistente!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>

        </div>
        <div class="steps-action">
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
              <span>Anterior</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
              <span>Siguiente</span>
            </button>
        </div>
    </div>
</div>