<div class="profile_counts">
    <div class="profile_counts_wrap">
        <div class="item">
            <div class="icon"><i class="fas fa-thumbs-up"></i></div>
            <div class="title">320 Likes</div>
        </div>
    </div>
    <div class="profile_counts_wrap">
        <div class="item">
            <div class="icon"><i class="fas fa-eye"></i></div>
            <div class="title">2980 Views</div>
        </div>
    </div>
    <div class="profile_counts_wrap">
        <div class="item">
            <div class="icon"><i class="fas fa-comment"></i></div>
            <div class="title">117 Comments</div>
        </div>
    </div>
</div>