<!-- <div class="contenedor active" id="contenedor">
    <app-header></app-header>

    <app-menu-lateral></app-menu-lateral>

    <main class="main">
        <h3 class="titulo">Videos Recomendados</h3>
        <div class="grid-videos">
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
            <a href="#" class="video"><img src="https://via.placeholder.com/500x281?text=Placeholder" alt=""></a>
        </div>
    </main>
</div> -->
<router-outlet></router-outlet>