<img class="wave" src="assets/img/wave.png">
<div class="container">

    <div class="img">
        <img src="assets/img/register.svg">
    </div>
    <div class="login-content">
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <!-- <img src="assets/img/avatar.svg"> -->

            <input type="file" style="display: none;" (change)="onPhotoSelected($event)" #photoInput>

            <!-- <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" /> -->
            <img nz-tooltip nzTooltipTitle="Ingrese su foto" style="cursor: pointer;" [src]="photoSelected || 'assets/img/avatar.svg'" alt="No image" (click)="photoInput.click()">


            <h2 class="title">Register</h2>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="Ingrese su nombre!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="first_name" placeholder="Ingrese nombre" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="Ingrese su apellido!">
                    <nz-input-group nzPrefixIcon="team">
                        <input type="text" nz-input formControlName="last_name" placeholder="Ingrese apellido" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label> -->
                <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
                    <nz-input-group nzPrefixIcon="google" [nzSuffix]="suffixInfo">
                        <input nz-input formControlName="email" placeholder="Ingrese correo" type="email" />
                    </nz-input-group>
                    <ng-template #emailErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('email')">
                            No es un correo válido!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">
                            Porfavor ingrese su correo!
                        </ng-container>
                    </ng-template>
                    <ng-template #suffixInfo>
                        <i nz-icon nz-tooltip nzTitle="Este sera su usuario" nzType="info-circle"></i>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>








            <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                    <!--  [nzPrefix]="prefixPassword" -->
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixPassword">
                        <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Ingrese contraseña" />
                    </nz-input-group>
                    <ng-template #passwordErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('minlength')">
                            Minimo 6 carácteres!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">
                            Porfavor ingrese su contraseña!
                        </ng-container>
                    </ng-template>
                    <!-- <ng-template #prefixPassword>
                        <i nz-icon nzType="lock" nzTheme="twotone"></i>
                    </ng-template> -->
                    <ng-template #suffixPassword>
                        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>



            <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="roleErrorTpl">
                    <nz-select id="role" formControlName="role" [nzSize]="'default'" nzPlaceHolder="Seleccione tipo usuario">
                        <nz-option nzValue="USER_NORMAL" nzLabel="Usuario normal"></nz-option>
                        <nz-option nzValue="USER_SPECIALIST" nzLabel="Usuario especialista"></nz-option>
                    </nz-select>
                    <ng-template #roleErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Porfavor seleccione rol!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>





            <nz-form-item>
                <nz-form-control>
                    <button nz-button class="login-form-button" [nzType]="'primary'">Crear cuenta</button>
                    <a [routerLink]="['/login']">Ya esta registrado!</a>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>