section {
    //tener en cuenta el padding
    padding: 20px 0;
    text-align: center;
    min-height: calc(100vh - 173px);
    display: flex;
    align-items: center;
}


/* .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 213px);
    background: #D3D1D1;
} */

.container {
    width: 100%;
    margin: 0 auto;
}

.form_container {
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    border-radius: .8rem;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    background: #fff;
    overflow: hidden;
    & .img_container {
        & img {
            width: 100%;
            object-fit: cover;
            min-height: 200;
            max-height: 280px;
        }
    }
    & .form {
        width: 100%;
        padding: 1rem 1.5rem;
        margin: auto;
    }
}

.m_b_0 {
    margin-bottom: 0rem;
}

@media(max-width: 600px) {
    .form_container {
        width: 90%;
    }
}

@media(max-width: 480px) {
    .form_container {
        width: 95%;
    }
}